name: CI

on:
  push:
    branches:
      - "master"
    tags:
      - "*"
      - "!**-alpha**"
      - "!**-beta**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: BigWigsMods/packager@v2
